@use '../../../style/base.module.scss' as *;

.page {
    width: 100dvw;
    height: 100dvh;
    // background-color: $background;
    overflow-y: scroll;
    background: url('/images/bkg.svg');
    background-size: cover;
    background-repeat: no-repeat;
}