@use '../../style/base.module.scss' as *;

.card {
	width: fit-content;
	height: fit-content;
	min-width: 200px;
	min-height: 100px;
    position: relative;
    padding: 10px 15px;
    border-radius: 4px;

    background-color: $level1;

    .card_close_btn {
        position: absolute;
        right: 10px;
    }

    .card_header {
        margin-bottom: 10px;
        font-size: x-large;
    }

    .card_content {
        min-height: 50px;
    }

    .card_actions {
        display: flex;
        justify-content: flex-end;
        width: calc(100%);
        margin-top: 10px;
    }
}